h1 {
    text-align: center;
    color: blueviolet;
    font-family: 'Lucida Sans', sans-serif;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background: rgb(225, 0, 255);
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p {
    text-align: center;
    color: rgb(51, 3, 51);
}