body {
    background-color: azure;
    text-align: center;
    color: blue;
    font-family: Verdana, sans-serif;
}

h1 {
    color: black;

}

.cards {
    background-color: beige;
}

footer {
    font-family: Verdana, sans-serif;
    font-size: large;
    color: black;

}