#content {
    max-width: 1400px;
    margin: 0 auto;
}

body {
    font-family: 'Oxygen', sans-serif;
}

header {
    display: flex;
    margin: 0.5rem auto;
    padding: 0.5rem;
    background-color: #10C297;
    text-align: center;
    color: #005500;
    justify-content: space-evenly;
    font-size: large;
}

.head-grid img .logo {
    border: #002627;
    border-radius: 2em;
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
}

.navigation {
    margin: 20px;
    justify-content: space-evenly;
}

#mode {
    justify-content: space-evenly;
}

#hero-msg {
    text-align: center;
}

.hero picture {
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.herolabel {
    position: relative;
    top: 50px;
    right: 50px;
    background: radial-gradient(#5cf05c, rgb(0, 71, 4));
    border: 1px solid #005500;
    border-radius: 10px;
    padding: .1rem;

}

.herolabel p {
    margin: 0;
    padding: 1rem;
    font-weight: 200;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

/*picture .hero-label {

}*/

main {
    display: grid;
    margin: 1rem auto;
    background-color: #002627;
    text-align: left;
}

p {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: large;
}

h3,
h4 {
    color: #FFFFFF;
}

h2 {
    display: flex;
    color: #FFFFFF;
    text-shadow: 0 5px 15px #8cecd7;
    width: 60%;
    text-align: center;
}

.temperature {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 70px;
    margin: 20px;
}

.rise {
    grid-column: 1/3;
    padding: 1rem;
    background-color: #10C297;
    border: 2px solid #002627;
    color: #002627;
}

.forecast {
    grid-column: 3/5;
    padding: 1rem;
    background-color: #10C297;
    border: 2px solid #002627;
    color: #002627;
}

.banner {
    grid-column: 5/7;
    padding: 1rem;
    background-color: #10C297;
    border: 2px solid #002627;
    color: #002627;
    text-align: center;
}

.spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    background-color: #002627;
    margin: 10px;
}

.discovery {
    grid-column: 1/3;
    justify-content: center;
    margin: 10px;
    padding: 1rem;
    background-color: #10C297;
    border: 2px solid #002627;
    color: #FFFFFF;
}

.living {
    grid-column: 3/5;
    justify-content: center;
    margin: 10px;
    padding: 1rem;
    background-color: #10C297;
    border: 2px solid #002627;
    color: #FFFFFF;
}

.waiwai {
    grid-column: 5/7;
    justify-content: center;
    margin: 10px;
    padding: 1rem;
    background-color: #10C297;
    border: 2px solid #002627;
    color: #FFFFFF;
}

.land {
    grid-column: 7/9;
    justify-content: center;
    margin: 10px;
    padding: 1rem;
    background-color: #10C297;
    border: 2px solid #002627;
    color: #FFFFFF;
}

.spotlight p,
footer p {
    color: #002627;
    font-family: 'Lato', sans-serif;
}


.chamber-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: left;
    margin: 10px;
}

.action-card {
    margin: 50px 0;
    grid-column: 2/4;
}

.service-card {
    margin: 50px 0;
    grid-column: 4/6;
}

.partners-card {
    margin: 50px 0;
    grid-column: 6/8;
}

.join,
.cool,
.point {
    background-color: #FFFFFF;
    color: #163850;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 40px;
}

.join:hover,
.cool:hover,
.point:hover {
    background-color: #804600;
    color: #FFFFFF;
}

.news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.current-card {
    margin: 50px 0;
    grid-column: 2/5;
}

.weather-card {
    margin: 50px 0;
    grid-column: 5/8;
}

.events-card {
    margin: 50px 0;
    grid-column: 8/11;
}

.upcoming-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
}

.vine-card {
    grid-column: 2/5;
}

.sand-card {
    grid-column: 5/8;
}

.run-card {
    grid-column: 8/11;
}

#run,
#sand,
#vine {
    border: 5px solid #cdbdf7;
    border-radius: 1em;
    transition: transform .5s;
    box-shadow: 4px 5px 8px rgb(192, 186, 241)
}

#weather,
#events,
#current {
    border: 5px solid rgb(231, 225, 247);
    border-radius: 1em;
    transition: transform .5s;
    box-shadow: 4px 5px 8px rgb(183, 168, 238);
}

.chamber-grid {
    border: 5px solid rgb(211, 212, 236);
    border-radius: 10em;
    transition: transform .5s;
    box-shadow: 4px 5px 8px rgb(163, 164, 233);
}

.banner,
.rise,
.spotlight,
.forecast {
    border: 5px solid rgb(211, 212, 236);
    border-radius: 1em;
    transition: transform .5s;
    box-shadow: 4px 5px 8px rgb(163, 164, 233);
}

.temperature .banner p,
.temperature .forecast p,
.temperature .rise p {
    color: #002627;
}

.spotlight .discovery h3,
.spotlight .living h3,
.spotlight .waiwai h3,
.spotlight .land h3 {
    color: #002627;
}


footer {
    display: flex;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #10C297;
    text-align: center;
    border: 2px solid #FFFFFF;
    color: #002627;
}

footer .social img {
    justify-content: space-evenly;
}


#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #002627;
    color: #FFFFFF;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #002627;
    justify-content: space-evenly;
    padding: 2rem;
    height: 50%;
    text-align: center;
    color: #FFFFFF;
    font-family: Oxygen, sans-serif;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.navigation li a:hover {
    background-color: #FFFFFF;
    color: #002627;
    font-weight: 700;
}

/*input {
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: #002627;
    transition: background .3s;
    outline: black;
    cursor: pointer;
}

input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #10C297;
    transition: left .3s;
}

input:checked {
    background-color: #804600;
}

input:checked::after {
    left: 70%;
}*/


/*-------- toggle switch --------*/
/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "☎";
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
}

/* --------- css for DISCOVERY page----------*/
/*h1 {
    text-align: center;
    color: #804600;
    font-family: 'Oxygen', sans-serif;
}*/

main {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 100%;
    background: #002627;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p {
    color: #FFFFFF;
}

.discover-hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}

.discover-grid {
    grid-column: 2/5;
    text-align: center;
}

.fun-grid {
    grid-column: 5/8;
    text-align: center;
}

.discover-grid,
.fun-grid {
    border: 5px solid rgb(211, 212, 236);
    border-radius: 1em;
    transition: transform .5s;
    box-shadow: 4px 5px 8px rgb(163, 164, 233);
}

.number {
    display: grid;
    border: 5px #FFFFFF;
    border-radius: 1em;
    text-align: center;
    margin: 20px;
}

.label {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.visits {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: larger;
}

.discover-grid:hover,
.fun-grid:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #FFFFFF;


}




/*-------- css for JOIN page--------*/
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    background-color: whitesmoke;
}


/*----------- HEADER --------------*/
/*header {
    padding: .5rem 2%;
    background-color: #ddd;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-weight: normal;
}*/

/*----------- NAVIGATION --------------*/
/*nav {
    background-color: #666;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    width: 25%;
}

nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li:first-child a {
    border-left: none;
}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}

nav ul li.active a {
    background-color: #000;
    color: #fff;
}*/

/*----------- MAIN --------------*/
/*main {
    padding: 0 2%;
    min-height: 20rem;
}*/

/*----------- FORM --------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #FFFFFF;
    margin: 0 1rem;
    padding: 0.5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #10C297;
    font-size: .8rem;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    padding: .75rem;
    color: #7e7d7d;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.med {
    display: block;
    padding: .10rem 0;
    color: #FFFFFF;
}

form input.bottom {
    border: none;
    background-color: #10C297;
    color: #002627;
    border-radius: 2rem;
    padding: .20rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: #005500 6px;
}

form {
    font-size: large;
}

/*----------- FOOTER --------------*/
/*footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}*/



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*----thank-you------*/

main p {
    color: #FFFFFF;
    border: #FFFFFF;
}

.thanks {
    margin: 20px;
    border: 3px solid #FFFFFF;
    border-radius: 2em;
}


/*-----DIRECTORY CSS ----*/

h1 {
    color: #FFFFFF;
    border-bottom: 1px solid #eee;
    text-shadow: 0 5px 15px #8cecd7;
    width: 60%;
    text-align: center;
}

.bizcards {
    background-color: beige;
}

/*-----Partners CSS-----*/

.partners-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    border: 5px solid rgb(211, 212, 236);
    transition: transform .5s;
    box-shadow: 4px 5px 8px rgb(163, 164, 233);
    margin: 5px;
}


.companies,
.services {
    margin: 20px;
    border: 3px solid #FFFFFF;
    border-radius: 2em;

}