body {
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: center;
    background: #FAFF81;
    padding: 1rem;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: auto;
    height: 60px;
    color: #1B133E;
    font-family: Quicksand, serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #1B133E;
    padding: 4rem;
    height: 100%;
    text-align: center;
    color: #ecd3d3;
    font-family: Finlandica, serif;
}


a {
    color: #caec31;
}

li {
    color: #caec31;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

main {
    display: flex;
    grid-column: 3/5;
    grid-row: 2/3;
    background: #FFFFFF;
    height: 100%;
    padding: 6rem;
    text-align: center;
    font-family: Quicksand, serif;
}

.card-LA {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    padding: 1rem;
    font-family: Finlandica, serif;
    color: #1B133E;
}

.card-Info {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    padding: 1rem;
    font-family: Quicksand, serif;
    color: #1B133E;

}

footer {
    display: flex;
    justify-content: center;
    background: #1B133E;
    padding: 1rem;
    color: #FFFFFF;
    font-family: Finlandica, serif;
}