body {
    font-family: 'Lato', serif;
}

header {
    display: flex;
    max-width: 640px;
    height: auto;
    margin: 1rem auto;
    justify-content: space-evenly;
    background-color: #1b133e;
    color: #f3f7b3;
}

.profile {
    justify-content: center;
    margin: 1rem;
    padding: 4rem;
}

h1 {
    margin: 4rem auto;
    padding: 4rem;
    text-align: center;
}

footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #1b133e;
    justify-content: space-evenly;
    color: #f3f7b3;
    text-align: center;
}

nav {
    max-width: 640px;
    margin: 1rem auto;
    background-color: #1b133e;
    border: 2px solid #FAFF81;
    color: #1b133e;
    font-size: large;
}

main,
iframe {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 600px;
    margin: 1rem auto;
    background-color: #f3f7b3;
    text-align: center;
    color: #1b133e;
}

.hero picture {
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.herolabel {
    position: absolute;
    top: 20px;
    left: 5px;
    background: radial-gradient(#ffffff, rgb(80, 35, 204));
    border: 1px solid rgba(0, 0, 0, .75);
    padding: .1rem;

}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Lato', serif;
}


h3 {
    color: #FAFF81;
    background-color: #1b133e;
    justify-content: space-evenly;
    border: 1px solid #1b133e;
}

/*h2 {
    color: #1b133e;
    justify-content: space-evenly;
}*/

.card-LA {

    border: 2px solid #1b133e;
}

.card-Info {

    border: 2px solid #1b133e;
}


p {
    font-family: 'PT-Serif', serif;
}

figcaption,
figure {
    color: #1d034d;
    font-family: 'PT-Serif', serif;
    font-size: large;
}

.flag {
    margin: 1rem auto;
    justify-content: center;
}

ul {
    justify-content: center;
    height: auto;
}

::marker {
    color: #1b133e;
    font-size: 23px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}


p {
    margin: 1rem;
}

.label {
    font-family: Arial, sans-serif;
    font-weight: 700;
}

#visits {
    color: navy;
    font-weight: bolder;
    font-size: larger;
}



/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #FAFF81;
    color: #1b133e;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "🔲";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #FAFF81;
    color: black;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #1b133e;
}

.navigation li a:hover {
    background-color: #1d034d;
    color: whitesmoke;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "🏡";
}



/* large view navigation ************************************/
@media (min-width: 37.5em) {

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
}